@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:wght@400&display=swap');

:root {
    --primary-color: #40798C;
    --secondary-color: #1F363D;
    --accent1-color: #9EC1A3;
    --accent2-color: #CFE0C3;
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Titillium Web', serif;
    --nav-background-color: #70A9A1;
    --nav-link-color: #1F363D;
    --nav-hover-link-color: #70A9A1;
    --nav-hover-background-color: #CFE0C3;
}

header, body, footer {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

header {
    padding: 10px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

.menu {
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(158, 193, 163, 0.5);
    padding: 10px 20px;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 150px;
    margin: 50px;
    background-color: rgba(31, 54, 61, 0.8);
    color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin: 10px;
}

form {
    display: grid;
    border: none;
    font-weight: 600;
}

section {
    border: 2px solid #40798C;
    margin-top: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 2px;
    text-align: center;
}

p {
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gallery img {
    width: 190px;
    height: auto;
    align-self: center;
}

figure {
    margin: 1px;
    justify-self: center;
    align-self: flex-end;
}

figcaption {
    text-align: center;
    font-size: small;
    font-weight: 500;
}

.company {
    display: grid;
    font-size: large;
    font-weight: 500;
}

.map {
    grid-column: 2;
    align-content: center;
    justify-self: center;
}

.phone {
    text-indent: 50px;
    padding: 0;
    margin: 0;
}

footer {
    padding: 10px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 250px 500px 1fr;
    justify-content: center; 
    border: 2px solid #40798C;
    margin-top: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: x-large;
}

footer nav {
    display: flex;
    align-self: center;
    justify-content: space-around;
}

footer nav a, footer a {
    text-decoration: none;
}

footer a {
    color: var(--primary-color);
    align-self: center;
    justify-self: center;
}