@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:wght@400&display=swap');

:root {
    --primary-color: #40798C;
    --secondary-color: #1F363D;
    --accent1-color: #9EC1A3;
    --accent2-color: #CFE0C3;
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Titillium Web', serif;
    --nav-background-color: #70A9A1;
    --nav-link-color: #1F363D;
    --nav-hover-link-color: #70A9A1;
    --nav-hover-background-color: #CFE0C3;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0;
    right: 300px;
    background-color: rgba(158, 193, 163, 0.5);
}

.hero article {
    position: absolute;
    top: 150px;
    margin: 50px;
    background-color: rgba(31, 54, 61, 0.8);
    color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin: 10px;
}

main {
    width: 900px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 20px;
}

footer nav a {
    text-decoration: none;
}