nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: steelblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 500px;
    margin: 10px;
    border: 1px solid #39304A;
    padding: 10px;
    background-color: #202030;
    color: khaki;
    text-align: center;
}
aside img {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer {
    margin: 10px;
    border: 1px solid black;
    text-align: center;
}